<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
    <springProperty scope="context" name="SERVICE_NAME" source="spring.application.name" defaultValue="connect-service"/>

    <include resource="classpath:logback-spring.xml" optional="true"/>

    <logger name="io.netty" level="INFO"/>
    <logger name="org.springframework.kafka" level="INFO"/>
    <logger name="com.openiot.connect" level="DEBUG"/>

    <springProfile name="dev,local">
        <root level="INFO">
            <appender-ref ref="JSON_CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="prod,k8s">
        <root level="INFO">
            <appender-ref ref="ASYNC_JSON"/>
        </root>
    </springProfile>

    <springProfile name="test">
        <root level="DEBUG">
            <appender-ref ref="JSON_CONSOLE"/>
        </root>
    </springProfile>
</configuration>
